.container-distancia{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(30px);
    gap: 20px;
    color: white;
}

#distancia{

    width: 20%;
    

}

input{

   padding: 10px;
    font-size: 16px;
}
